* {
    box-sizing: border-box;
}

.body,
.main-title,
.subtitle-section-about,
.text,
.code-list,
.code-list-item {
    margin: 0;
    padding:0;
    list-style: none;
}

.body {
    background-color:#ffffff;
    color:#000000;
    font-family: Arial;
    font-size: 14px;
}

.wrapper {
    width: 1200px;
    max-width: 100%;
    padding: 30px 16px;
    margin: 0 auto;
}

ul :last-child {
   margin-bottom: 0;
}

.header {
    letter-spacing: 1px;
    padding: 24px;
    font-size: 28px;
    background: #2c3e50;
    color: #fff;
    border-radius: 18%;
}

.title {
    font-size: 37px;
    font-weight: 600;
    color: #efe80b;
    padding: 12px;
    text-align: center;   
}

.subtitle-section-about {
    font-size: 31px;
    font-weight: 500;
    color: #eae204;
    padding: 11px;
    text-align: center;  
}

.section-about {
    padding: 24px;
    font-size: 19px;
    background: #001e3d;
    color: #fff;
    border-radius: 16%;
}

.subtitle-section-list {
    font-size: 31px;
    font-weight: 700;
    color: #000000;
    padding: 11px;
    text-align: center;  
}

.picture-code {
    max-width: 100%;
    width: 250px;
    height: 170px;
    float: right;
    display: block;   
}

.picture-quality {
    max-width: 100%;
    width: 600px;
    height: 400px;
    display: block;
}

.code-list-item {
    font-weight: 70;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 12%;
}

.code-list :nth-child(odd) {
    color: #fff;
    background-color: #7a6b6b; 
} 

.code-list :nth-child(even) {
    background-color: #f0e813;
    color: #000;    
}

.btn-form-html,.btn-form-css{
    background-color: #2a056b;
    border: none;
    color: rgb(232, 232, 0);
    padding: 25px 42px;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    width: 320px;
    background-color: #123;
    margin: 25px 42px;
    font-size: 19px;  
}

.btn-block {
    width: 320px;
    margin: 25px 42px;
    font-size: 19px;
    display: inline;
    
}

